/* Write your CSS here */
.appointment-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 250px;
  height: 70px;
  border: 1px solid #b5b7c4;
  border-radius: 10px;
  padding: 10px;
  margin-right: 14px;
}
.title {
  color: #171f46;
  font-family: roboto;
  font-weight: 600;
  font-size: 14px;
  margin-top: 0px;
}
.date {
  color: #b5b7c4;
  font-family: roboto;
  font-size: 12px;
  font-weight: 500;
  margin-top: 0px;
}
.star-img {
  height: 20px;
  width: 20px;
}
.title-div {
  padding-top: 0px;
  width: 100%;
}
.star-button {
  background: transparent;
  cursor: pointer;
  border-style: none;
}
